Repository gammapy/gamma-cat, pull requests merged in 2018-02, with the labels that each got.

#216 Restructure of folders in output/data
  .gitignore
  gammacat/collection.py
  gammacat/info.py
  gammacat/tests/test_info.py
Labels: coding

#214 Update Webpage, no 1
  .gitignore
  gammacat/webpage.py
  make.py
  webpage/about.rst
  webpage/data/catalog.rst
  webpage/data/collection.rst
  webpage/data/index.rst
  webpage/data/overview.rst
  webpage/index.rst
  webpage/intro/acknowledgements.rst
  webpage/intro/contributors.rst
  webpage/intro/index.rst
  webpage/intro/overview.rst
  webpage/intro/relatedresources.rst
  webpage/intro/terms.rst
  webpage/templates/reference_list.txt
  webpage/templates/source_list.txt
  webpage/use/example.rst
  webpage/use/index.rst
Labels: Webpage

#221 Quite a number of corrections to VERITAS data
  input/data/2009/2009ApJ...700.1034A/tev-000014-1.yaml
  input/data/2009/2009ApJ...700.1034A/tev-000014-2.yaml
  input/data/2009/2009ApJ...700.1034A/tev-000014-sed.ecsv
  input/data/2009/2009ApJ...707..612A/tev-000054-sed.ecsv
  input/data/2011/2011ApJ...738...25A/tev-000049-1.yaml
  input/data/2011/2011ApJ...738...25A/tev-000049-4.yaml
  input/data/2011/2011ApJ...738...25A/tev-000049-5.yaml
  input/data/2011/2011ApJ...738...25A/tev-000049-7.yaml
  input/data/2011/2011ApJ...738..169A/info.yaml
  input/data/2011/2011Sci...334...69V/tev-000166-sed.ecsv
  input/data/2012/2012ApJ...755..118A/tev-000020-sed.ecsv
  input/data/2013/2013ApJ...764...38A/tev-000001-sed.ecsv
  input/data/2013/2013ApJ...764...38A/tev-000001.yaml
  input/data/2014/2014ApJ...782...13A/tev-000013.yaml
  input/data/2014/2014ApJ...788...78A/tev-000141.yaml
  input/data/2014/2014ApJ...788..158A/tev-000055.yaml
  input/data/2016/2016A%26A...594A..76A/tev-000091-1.yaml
  input/data/2016/2016A%26A...594A..76A/tev-000091-2.yaml
  input/data/2016/2016ApJ...819..156B/info.yaml
  input/data/2016/2016ApJ...819..156B/tev-000049-1.yaml
  input/data/2016/2016ApJ...819..156B/tev-000049-2.yaml
  input/data/2016/2016ApJ...819..156B/tev-000049-3.yaml
  input/data/2016/2016ApJ...819..156B/tev-000049-4.yaml
  input/data/2016/2016ApJ...819..156B/tev-000049-5.yaml
  input/data/2016/2016ApJ...819..156B/tev-000049-6.yaml
  input/data/2016/2016ApJ...819..156B/tev-000049-7.yaml
  input/data/2016/2016ApJ...819..156B/tev-000049-sed-5.ecsv
  input/data/2016/2016ApJ...821..129A/tev-000106.yaml
  input/data/2016/2016ApJ...821..129A/tev-000110-sed.ecsv
  input/data/2016/2016MNRAS.461..202A/info.yaml
  input/data/2016/2016MNRAS.461..202A/tev-000071-sed.ecsv
  input/data/2016/2016arXiv161003751S/tev-000030-sed-2.ecsv
  input/data/2017/2017ApJ...836...23A/tev-000003.yaml
Labels: bug, data entry
